{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if .Params.date }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</p>
<span class="commenti">
  <script>
  var idcomments_acct = '15e08ec63b2cd22957159492f25f3dc2';
  var idcomments_post_id;
  var idcomments_post_url;
  </script>
  <script type="text/javascript" src="https://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>
</span>
</div>

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}
<div class="content-wrapper">
  <main>
    {{ .Content }}
    <script>
var idcomments_acct = '15e08ec63b2cd22957159492f25f3dc2';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
    <a href="/"> >> Home</a>
  </main>
</div>
{{ partial "footer.html" . }}
